<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="book" content="">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Lista Autorów</title>
</head>
<body>
<div th:insert="author/menu::navigation"></div>

<div class="container">
    <div class="row">
        <h1 class="headerform">Formularz dodawania książki:</h1>
        <form th:object="${book}" th:action="@{/author/saveBook}" method="/POST">
            <input type="hidden" th:field="*{id}"/>
            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p class="err">W formularzu wystąpił błąd</p>
            </div>
            <div class="form-group" th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Nazwa:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}" th:errorclass="has-error"/>

                    <span class="help-block" th:if="${#fields.hasErrors('name')}">
                       <ul>
                           <li th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
                       </ul>
                </span>
                </div>
            </div>
            <div class="form-group" th:class="${#fields.hasErrors('page')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Ilość stron:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{page}" th:errorclass="has-error"/>

                    <span class="help-block" th:if="${#fields.hasErrors('page')}">
                       <ul>
                           <li class="err" th:each="err : ${#fields.errors('page')}" th:text="${err}"/>
                       </ul>
                </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('price')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Cena:</label>
                <div class="col-sm-2 control-label">
                    <input type="text" class="form-control" th:field="*{price}" th:errorclass="has-error"/>

                    <span class="help-block" th:if="${#fields.hasErrors('price')}">
                       <ul>
                           <li class="err" th:each="err : ${#fields.errors('price')}" th:text="${err}"/>
                       </ul>
                </span>
                </div>
            </div>
            <div>
                <label class="col-sm-2 control-label">Do wypożyczenia:</label>
                <div>
                    <input type="radio" class="col-sm-2 control-label" th:field="*{rent}" th:value="${1}"
                           th:checked="${true}"/>Tak
                    <label th:for="${1}" th:text="${tak}">tak</label>
                </div>
                <div>
                    <input type="radio" class="col-sm-2 control-label" th:field="*{rent}" th:value="${0}"/>Nie
                    <label th:for="${0}" th:text="${nie}">nie</label>
                </div>
            </div>
            <!--TODO chceked jesli puste tak -->
            <select th:field="*{authorId}">
                <option class="col-sm-2 control-label" id="option-class" th:each="author : ${authors}"
                        th:value="${author.id}"
                        th:text="${author.name}">Wireframe
                </option>
            </select>
            <!--TODO wczytywanie i dobre przyporządkowanie wartości -->
            <!--
            <select>
                <option col-sm-2 control-label th:each="i : ${#numbers.sequence(0, 100)}" th:value="${i}" th:text="${i}"
                        th:selected="${i==75}"></option>
            </select>
            -->
            </br>
            <button type="submit" class="btn">Zapisz</button>
        </form>

    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/app.js}" type="text/javascript"></script>
</body>
